*{
    padding: 0;
    margin: 0;
    border: 0;
    /*vertical-align: baseline;  para alinhar a img com o texto na mesma caixa*/
    list-style: none;
    font-family: "Poppins", sans-serif;
    /*font-size: 16px;*/
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #B9001F;
}
body{
    font-family: "Poppins", sans-serif;
}